html { 
    background: url(./images/mainBackground.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

#test {

    display : flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}