@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

h2 {
    margin-left: 6rem;
    margin-right: 6rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
    text-align: center;
    font-family: 'Edu TAS Beginner', cursive;
    font-size:xx-large;
    background-color: blanchedalmond;
}

p { 
    text-indent: 50px;
    margin-left: 15rem;
    margin-right: 15rem;
    font-style: italic;
    font-size: large;
}
main {
    background: url(./images/background_connexion.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#posts_box {

    display : flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer {
    font-family: 'Edu TAS Beginner', cursive;
    background-color: #2cb6b8;
    color: black;
    text-align: end;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 25px;
    height: 7%;
}
