@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

h2 {
    margin: 3rem;
    text-align: center;
    font-family: 'Edu TAS Beginner', cursive;
    font-size:xx-large;
}

p {
    text-indent: 50px;
    margin-left: 10rem;
    margin-right: 10rem;
}